body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
}

div {
    box-sizing: border-box;
    border-collapse: collapse;
}
#board{
    display: flex;
    position: relative;
}
.player-part {
    display: flex;
}

.carcel {
    width: 90px;
    background: var(--color);
    border: black solid 1px;
    z-index: -5;
}

.carcel:before {
    content: "CARCEL";
    z-index: 1;
    min-width: 80px;
    min-height: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: bold;
}

.casilla {
    width: 90px;
    height: calc(180px /8);
    border: 1px black solid;
}

.lateral{
    display: flex;
    flex-flow: column;
    justify-content: stretch;

}
.seguro {
    background: var(--color);
}

.salida:after {
    content: "SALIDA";
    z-index: 1;
    min-width: 80px;
    min-height: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: bold;
}

#board {
    width: 100%;
    height: 100%;
}

.escalera {
    width: max-content;
    height: max-content;
}

.board-side {
    display: flex;

}
